.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.img-dim {
  width: 290px !important;
  height: 290px !important;
}

.img-cart {
  width: 20px ;
  height: 20px ;
}

.img-loader {
  width: 450px !important;
  height: 450px !important;
}

.search-box {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ui.icon.input{
  width: 300px;
}

.studio-header{
  background-color: black;
  color: white;
}

.atb-button {
  box-sizing: border-box;
  background-color: #007a7a;
  border-color: #007a7a;
  color: white;
}

.image{
  width: 290px;
  height: 290px;;

}

.cards {
  padding: 10px 10px;
}

.ui.cards{
  float: left;
}

.header {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

body ::-webkit-scrollbar{
  width: 0px !important;
}
   
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
